<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <p>
  <% if @micropost %>
    <strong>Micropost:</strong>
    <%= @micropost.content %>
  
  <% else %>
    <strong>Micropost:</strong>
    No Micropost
  <% end %>
  </p>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
  
  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
